.navbar{
    background: url(../../../public/assets/images/black-bg.svg) ;
}
.form-control{
    width: 70%;
}
.nav-btn{
    background-color: #FE0000;
    color: #fff;
}
.logo{
    height: 65px;
    width: 100%;
    object-fit: contain;
}