<div class="login px-5 ">
  <div class="d-flex justify-content-between">
    <img class="nav-icon" src="assets/images/logo-with-white-bg.png" height="100" />
    <div class="lang p-3">
      <h5 > اللغة <i class="fa-solid fa-globe"></i></h5>
    </div>
 </div>

 <div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-7">
    <div class="card me-5 p-5">
      <h2 class="fw-bold">اهلا بك في مطبخ مطعم كوت</h2>
      <h2 class="fw-bold">قم بتسجيل الدخول</h2>

      <div class="input-group my-3">
        <input type="text" class="form-control" id="phoneInput" placeholder="ادخل رقم الهاتف">
      </div>
      <div class="input-group my-3">
        <input type="password" class="form-control" id="passwordInput" placeholder="ادخل كلمة المرور الجديدة">
      </div>
      <button type="submit" class="btn btn-send my-3 w-100">ارسال</button>
    </div>
  </div>
  
  <div class="col-md-5 d-flex align-items-center justify-content-center">
    <img class="login-chef img-fluid" src="assets/images/man-chef.png" />
  </div>
</div>


</div>



           
     