<div class="sidebar">
    <ul class="sidebar-menu list-unstyled px-0 py-5">
        <li class="sidebar-item py-3">
            <a class="sidebar-link" href="">
            <img class="nav-icon" src="assets/images/delivery-icon.svg" />
            <h6> توصيل <span>(3)</span></h6>
          </a>
        </li>
        <li class="sidebar-item py-3">
          <a class="sidebar-link" href="">
            <img class="nav-icon" src="assets/images/dine-in-icon.svg" />
            <h6>داخلي <span>(10)</span></h6>
          </a>
        </li>
        <li class="sidebar-item py-3">
            <a class="sidebar-link" href="">
            <img class="nav-icon" src="assets/images/receive-icon.svg" />
            <h6>استلام <span>(19)</span></h6>
          </a>
        </li>
        <li class="sidebar-item py-3">
            <a class="sidebar-link" (click)="toggleSidebar()">
            <!-- {{ isSidebarOpen ? 'Close Offcanvas' : 'Open Offcanvas' }} -->
            <img class="nav-icon" src="assets/images/kitchen-icon.svg" />
            <h6>المطبخ</h6>
          </a>
        </li>
    
      </ul>

</div>

