<div class="login px-5 ">
    <div class="d-flex justify-content-between">
      <img class="nav-icon" src="assets/images/logo-with-white-bg.png" height="100" />
      <div class="lang p-3">
        <h5 > اللغة <i class="fa-solid fa-globe"></i></h5>
      </div>
   </div>
  
   <div class="row ">
    <div class="col-md-6">
      <div class=" p-3">
        <div class="quote mb-3">
            <h2>بالرجاء أكمال بيانات التسجيل </h2>
        </div>
        <div class="choices">   
        <form>
            <div class="mb-5">
              <h6  class="form-label ">اختر نوع المطبخ </h6>
              <select  class="form-select mt-3 w-50">
                <option>المطبخ اللباني </option>
                <option>المطبخ اللباني </option>

              </select>
            </div>
            <div class="mb-5">
              <h6 class="form-label  mb-2">اختر الاصناف</h6>
              <div class="form-check ">
               
                <div class="row selections gap-3"> 
                    <div class="col-12 all">
                      <input class="form-check-input " type="checkbox">
                      <label class="form-check-label fw-bold">اختر الكل</label>
                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-6 select-type d-flex align-items-center">
                      <input class="form-check-input " type="checkbox">
                      <label class="form-check-label">المشويات</label>
                    </div>
                    <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                      <input class="form-check-input " type="checkbox">
                      <label class="form-check-label">الخضار</label>
                    </div>
                    <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                      <input class="form-check-input " type="checkbox">
                      <label class="form-check-label">المقبلات</label>
                    </div>
                    <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                        <input class="form-check-input " type="checkbox">
                        <label class="form-check-label">المقبلات</label>
                      </div>
                      <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                        <input class="form-check-input " type="checkbox">
                        <label class="form-check-label">المقبلات</label>
                      </div>
                  </div>
                  
                  
            </div>    
                </div>
                <div class="mb-3">
                    <h6 class="form-label  mb-2">اختر الاطباق</h6>
                    <div class="form-check ">
                     
                      <div class="row selections gap-3"> 
                          <div class="col-12 all">
                            <input class="form-check-input " type="checkbox">
                            <label class="form-check-label fw-bold">اختر الكل</label>
                          </div>
                          <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                            <input class="form-check-input " type="checkbox">
                            <label class="form-check-label">كبسة</label>
                          </div>
                          <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                            <input class="form-check-input " type="checkbox">
                            <label class="form-check-label">برياني</label>
                          </div>
                          <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                            <input class="form-check-input " type="checkbox">
                            <label class="form-check-label">مربين</label>
                          </div>
                          <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                              <input class="form-check-input " type="checkbox">
                              <label class="form-check-label">مربين</label>
                            </div>
                            <div class="col-md-3 col-sm-6 select-type d-flex align-items-center">
                              <input class="form-check-input " type="checkbox">
                              <label class="form-check-label">مربين</label>
                            </div>
                        </div>
                        
                        
                  </div>    
                      </div>
             
            <button type="submit" class="btn w-100">ارسال</button>
          </form></div> 
  </div>
    </div>
    
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img class="login-chef img-fluid" src="assets/images/man-chef.png" />
    </div>
  </div>
  
  
  </div>
  
  
  
             
       