    <section>
      <img src="./assets/images/meat.png" alt="Decoration" class="decor-img decor-top-left">
      <img src="./assets/images/spoon.png" alt="Decoration" class="decor-img decor-bottom-right">
      <img src="./assets/images/vegetables.png" alt="Decoration" class="decor-img decor-center">
      <img src="./assets/images/vegetables.png" alt="Decoration" class="decor-img decor-center-two">

    </section>
    <section class="ingredients py-2 ">
      <div class="container container-bg shadow p-5  bg-body rounded my-5 ">
        <div class="d-flex justify-content-center align-items-center">
          <div class="reciepe-title text-center">
            <h5 class="fw-bold main-color "> طريقة تحضير كبسة فراخ</h5>
          </div>

        </div>
        <div class="d-flex justify-content-center my-2">
          <div class="tabs bg-main w-75 ">
            <ul class="nav nav-pills main-pills  px-2 my-1 justify-content-between" id="pills-tab" role="tablist">
              <li class="nav-item ms-3" role="presentation">
                <button class="nav-link active" id="pills-ingredients-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-ingredients" type="button" role="tab" aria-controls="pills-ingredients"
                  aria-selected="true">
                  <div class="icon ">

                  </div>
                  <h6 class=" text-center">المقادير</h6>
                </button>
              </li>
              <li class="nav-item ms-3 " role="presentation">
                <button class="nav-link" id="pills-reciepe-tab" data-bs-toggle="pill" data-bs-target="#pills-reciepe"
                  type="button" role="tab" aria-controls="pills-reciepe" aria-selected="false">
                  <div class="icon">
                    <img src="assets/images/takeaway-icon.png" alt="" />
                  </div>
                  <h6 class="me-2">طريقة التحضير</h6>
                </button>
              </li>
              <li class="nav-item ms-3 " role="presentation">
                <button class="nav-link" id="pills-notes-tab" data-bs-toggle="pill" data-bs-target="#pills-notes"
                  type="button" role="tab" aria-controls="pills-notes" aria-selected="false">
                  <div class="icon">
                    <img src="assets/images/takeaway-icon.png" alt="" />
                  </div>
                  <h6 class="me-2">الملاحظات </h6>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content px-md-5" id="pills-tabContent">
          <div class="tab-pane  fade show active" id="pills-ingredients" role="tabpanel"
            aria-labelledby="pills-ingredients-tab">
            <div class="row position-relative">

              <div class="col-md-7 col-sm-12  bg-lightred-ingredients my-5 py-5">
                <img src="/assets/images/ingredients.png" alt="Top Image" class="image-on-top">
                <div class="ingredients-details">
                  <h4 class="fw-bold main-color">المقادير :</h4>
                  <ul>
                    <li>
                      <p><span>2</span> ملعقة كبيرة زيت نباتي أو سمن</p>
                    </li>
                    <li>
                      <p><span>1</span> بصلة كبيرة مفرومة ناعماً</p>
                    </li>
                    <li>
                      <p><span>2</span> فص ثوم مفروم</p>
                    </li>
                    <li>
                      <p><span>2</span> ملعقة كبيرة زيت نباتي أو سمن</p>
                    </li>
                    <li>
                      <p><span>1</span> بصلة كبيرة مفرومة ناعماً</p>
                    </li>
                    <li>
                      <p><span>2</span> فص ثوم مفروم</p>
                    </li>
                    <li>
                      <p><span>2</span> ملعقة كبيرة زيت نباتي أو سمن</p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-5 plate-img col-sm-12 my-4 py-4 d-flex justify-content-center align-items-center">
                <img src="/assets/images/plate1.png" alt="Centered Image" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="tab-pane reciepe-tab fade" id="pills-reciepe" role="tabpanel" aria-labelledby="pills-reciepe-tab">
            <div class="row position-relative">
              <div class="col-12 bg-lightred-ingredients my-5 py-5 ">
                <img src="/assets/images/reciepe.png" alt="Top Image" class="image-on-top">
                <div class="ingredients-details">
                  <h4 class="fw-bold main-color">طريقة التحضير :</h4>
                  <ol>
                    <li>
                      <div class="accordion reciepe-accordion " id="accordionStep1">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingStep1">
                            <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseStep1" aria-expanded="false" aria-controls="collapseStep1">
                              <span class="text-dark fw-bold">تحضير الدجاج</span>
                            </button>
                          </h2>
                          <div id="collapseStep1" class="accordion-collapse collapse show "
                            aria-labelledby="headingStep1" data-bs-parent="#accordionStep1">
                            <div class="accordion-body">
                              <ul>
                                <li class="text-dark pb-2">أضيفي قطع الدجاج إلى الوعاء وقلبيها حتى تصبح ذهبية اللون من
                                  جميع الجهات.</li>
                                <li class="text-dark pb-2">أضيفي البصل المفروم إلى الدجاج وقلبي حتى يذبل. ثم أضيفي الثوم
                                  المفروم وقلبيه لمدة دقيقة حتى يطلق رائحته.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="accordion reciepe-accordion" id="accordionStep2">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingStep2">
                            <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseStep2" aria-expanded="false" aria-controls="collapseStep2">
                              <span class="text-dark fw-bold"> تحضير الأرز</span>
                            </button>
                          </h2>
                          <div id="collapseStep2" class="accordion-collapse collapse show"
                            aria-labelledby="headingStep2" data-bs-parent="#accordionStep2">
                            <div class="accordion-body">
                              <ul>
                                <li class="text-dark pb-2">أضيفي التوابل والزيت وقلبي حتى تتجانس النكهات.</li>
                                <li class="text-dark pb-2">اتركي الخليط على نار هادئة حتى ينضج بالكامل.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <!-- Accordion Item 3 -->
                    <li>
                      <div class="accordion reciepe-accordion" id="accordionStep3">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingStep3">
                            <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseStep3" aria-expanded="false" aria-controls="collapseStep3">
                              <span class="text-dark fw-bold">تجميع الكبسة</span>
                            </button>
                          </h2>
                          <div id="collapseStep3" class="accordion-collapse collapse show"
                            aria-labelledby="headingStep3" data-bs-parent="#accordionStep3">
                            <div class="accordion-body">
                              <ul>
                                <li class="text-dark pb-2"> عندما ينضج الأرز، ضعيه في طبق تقديم واسع. ثم ضعي قطع الدجاج
                                  المطهي فوق الأرز.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
            <div class="row position-relative">
              <div class="col-12 bg-lightred-ingredients my-5 py-5 ">
                <img src="/assets/images/notes.png" alt="Top Image" class="image-on-top">
                <div class="ingredients-details">
                  <h4 class="fw-bold main-color"> الملاحظات :</h4>

                  <div class="py-2">
                    <h6 class="fw-bold"><i class="fas fa-lightbulb main-color mx-1"></i> التوابل</h6>
                    <h6> يمكنك تعديل كمية التوابل حسب ذوقك. على سبيل المثال، إذا كنت تفضل الطعم الحار، يمكنك زيادة كمية
                      الفلفل الحار أو إضافة بهارات الكاري.</h6>

                  </div>
                  <div class="py-2">
                    <h6 class="fw-bold"><i class="fas fa-lightbulb main-color mx-1"></i> المكسرات والزبيب</h6>
                    <h6> إضافة المكسرات المحمصة والزبيب يعطي الكبسة نكهة غنية ويضفي تنوعاً في القوام.</h6>

                  </div>
                  <div class="py-2">
                    <h6 class="fw-bold"><i class="fas fa-lightbulb main-color mx-1"></i> لتحضير مرق الدجاج</h6>
                    <h6> يمكنك تحضير مرق دجاج منزلي عن طريق سلق قطع الدجاج مع بعض الخضروات (مثل الجزر، البصل، والكرفس)
                      لتحصلي على مرق غني.</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>


