/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
::selection {
    background-color: #FE0000;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FE0000;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;

}

::-webkit-selection {
    background-color: #FE0000;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #FE0000;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 1rem;
    border: none;
    outline: none;
}
a{
    color: inherit;
    text-decoration: none;
}

/**************** General style ************/
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::selection {
    background-color: #FE0000;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FE0000;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;

}

::-webkit-selection {
    background-color: #FE0000;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 20px;
}

body {
    font-family: "Almarai", sans-serif;
}

.main-color {
    color: #FE0000 !important;
}

/* any link to read */
a {
    text-decoration: none;
    color: inherit;
}
p {
    line-height: 1.8;
}

.btn {
    box-shadow: none;
    color: #fff;
    background-color: #FE0000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
}

.btn-no-modal {
    box-shadow: none;
    color: #f10909;
    border: 1px solid #FE0000;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn.white {
    background: #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.btn.reversed {
    background: transparent;
    border: 2px solid #FE0000;
}

.btn:hover {
    color: #fff;
}

.btn.white:hover {
    color: #000;
}


/* ************************************************************************************** */
/*--- navbar styling ---*/
.second-header {
    box-shadow: 4px 4px 12px 0 #00000033;
    margin-top: 1.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

}

header .navbar-light .second-header .navbar-nav .nav-link {
    color: #000;
}

header .navbar-light .second-header .navbar-nav .nav-link.btn,
header .navbar-light .second-header .navbar-nav .nav-link.cart-icon {
    color: #fff;
}

header .navbar.navbar-light .second-header .navbar-nav .active .nav-link {
    color: #FE0000;
}

header .navbar.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

header .navbar {
    background-color: transparent;
}

header .navbar-toggler {
    border-radius: 0;
}

header .navbar-toggler:focus {
    box-shadow: none;
}

header .navbar .navbar-service {
    margin-left: 1rem;
}

header .navbar .navbar-service img {
    height: 100%;
    width: 185px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

header .navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 17px;
    margin: 0 0.75rem;
    transition: all .3s ease-in-out;
    color: #fff;
    border: none;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

header .navbar.navbar-light .navbar-nav .active .nav-link,
header.scroll .navbar-light .navbar-nav .active .nav-link {
    color: #FE0000;

}

.navbar-nav .select-sm {
    background-color: #FE0000;
    color: #fff;
    padding: 0 0.5rem;
    margin-right: 1rem;
    border-radius: 0.15rem;
}

header .dropdown:hover .dropdown-menu {
    display: block;
    min-width: 5rem;
}

header.scroll {
    background-color: #fff;
    box-shadow: 0 0 10px #00000029;
    color: #40403f !important;
}

header.scroll .navbar-service img {
    content: url('../public/assets/images/logo-with-white-bg.png');
}

header.scroll .navbar-light .navbar-nav .nav-link {
    color: #000;
}

header.scroll .navbar-light .navbar-nav .nav-link .btn.white,
header .navbar-light .second-header .navbar-nav .nav-link .btn.white {
    background: #ffe5e5;
    color: #000;
}

header.scroll .navbar-light .navbar-nav .nav-link .btn.white .svg-inline--fa,
header .navbar-light .second-header .navbar-nav .nav-link .btn.white .svg-inline--fa {
    color: #FE0000;
}

/* header.scroll .navbar-light .navbar-nav .nav-link .btn.white .select-sm {
    background: #fff;
    color: #000;
} */

header.scroll .navbar-light .navbar-nav .nav-link.btn,
header.scroll .navbar-light .navbar-nav .nav-link.cart-icon {
    color: #fff;
    border: none;
}

header.scroll .second-header {
    box-shadow: none;
    margin-top: 0;
}

.contain {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-icon {
    background: #FE0000;
    border-radius: 8px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* login  */
.login-section {
    background-color: #ffffff; 
    width: 100%;
    min-height: 100vh; 
    position: relative;
    overflow: hidden; 
  }
  .login-section {
    /* background-image: url(/SiteAssets/images/pink-bg-curved.png); */
    background-image: url('../public/assets/images/pink-bg-curved.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login-background {
    position: relative;
    /* background: url('../public/assets/images/lo'); */
    background-repeat: no-repeat;
    background-size: cover;

}
  .card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
  }
.chef-login {
 width: 25rem;
    height: auto;
}
  .input-group-eye {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #808080;
    display: block;
    cursor: pointer;
    z-index: 10;
}
  
  .decor-img {
    position: absolute;
    z-index: 1; 
    width:10rem; 
  }
  .decor-top-left {
    top: 5rem;
    right: 10px;
}
  
  .decor-bottom-right {
    top: 10rem;
    left: 0px;
  }
  .decor-center{
    top: 20rem;
    right: 0px;
  }
  .decor-center-one{
    bottom: 10rem;
    left: 50%;
  }
  .decor-center-two{
    top: 30rem;
    left: 0px;
  }
   /* kitchen page  */
   .header-kitchen {
    background-image: url('/SiteAssets/images/intro-bg.png');
    background-image: url('../public/assets/images/intro-bg.png');
    background-size: cover;
    background-position: center;
    z-index: 1000;
  }
  
  header .navbar {
    padding: 10px 20px; 
  }
  
  .kitchen {
    /* background-image: url('/SiteAssets/images/reciepe-bg.png');  */
    background-image: url('../public/assets/images/reciepe-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0; 
  }

  .accordion-item {
    background-color: transparent !important; 
    border: none; 
  }
  
  .accordion-header {
    background-color: transparent !important; 
  }
  
  .accordion-button {
    background-color: transparent !important; 
    border: none; 
    color: #fff !important; 
  }
  
  .accordion-button:focus {
    box-shadow: none !important; 
  }
  .accordion-responsive  .accordion-button{
    color: #010101 !important; 
    font-weight: 900;
  }

.accordion-responsive  .reciepe-accordion .accordion-button::after {
    background-color: #fe0000;

}
.accordion-responsive .main-pills .nav-link:active{
    display: flex;
    background-color: #fe0000 ;
    border-radius: 10px;
    color: #ffffff;
}
.accordion-responsive .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fe0000;
    background-color: transparent !important;
    border: 1px solid #fe0000;
}
.accordion-responsive{
    display: none;
}
.accordion-responsive .main-pills .nav-link{
    display: flex;
    background-color: #fe0000;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #ffffff;
}

  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}
.reciepe-accordion .accordion-button::after {
    background-color: #ffffff00;

}
.accordion-button:not(.collapsed) {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}
  .accordion-body{
    color: white;

  }
  .main-pills .nav-link:active{
    display: flex;
    background-color: #fe0000 ;
    border-radius: 10px;
    color: #ffffff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #fe0000 !important;
    border: none;
}
.main-pills .nav-link{
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.order-cards{
    position: relative;
    margin-top: 100px;
}
.order-cards .card {
    max-height: 500px; 
    overflow-y: auto;
    overflow-x: hidden; 
  }
.clickable-corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height:100%;
    background-color: #E8E8E8;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .clickable-corner.active {
    background-color: #ffd89a;
  }
    .order-cards .card-header{
        border-radius:  0 0 35px 35px; 
        background-color: #FAFAFA;
        border: 1px solid #0000001A;
    }
    .order-cards .card-footer{
        background-color: #1A1919;
          color: #ffffff;
    }
.bg-lightgreen{
background-color: #B4E3B7;
}
.bg-lightred{
background-color: #FFBFBF;

}
.order-item{
    border-radius: 5px;
    border: 1px solid #0000001A;
    padding-block: 15px;
}

.btn-details{
    background-color:#fe0000  ;
    color: #fff;
   
    text-align: center;
    padding-block: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-details:hover{
 background-color:#fff ;
    color: #fe0000;
}

/* logout modal */
.logoutModal .modal-header{
    text-align: center;
    background-color: #FE0000;
    color: #ffffff;
}

/* details modal  */
.detailsModal .modal-content{
/* background-color: #B5B2B2; */
border-radius: 20px;
}

.card-details {
    display: flex;
    background-color: #FFF2F2;
    border: 2px solid #000000;
    box-shadow: 4px 4px 12px 0 #00000033;
    border-radius: 24px;
    justify-content: space-between;
}
.title-details{
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #fe0000;
    border-radius: 10px;
}
.order-details{
    text-align: center;
    padding: 5px;
    background-color: #fff;
    border: 0.1px solid #000000;
    border-radius: 10px;
}
.custom-checkbox:checked {
    background-color: green;
    border-color: green;
  }
  .custom-checkbox {
    width: 20px;
    height: 20px;
  }
  .detailsModal .modal-body{
    max-height: 50rem;
    overflow-y: auto;
  }
  .radios{
    padding-inline: 50px;
  }
/* reciepe page  */
  .ingredients{
    background-color: #1A191940;
    height: 100vh;
    margin-top: 0;
    padding-top: 0px;
  }
  .container-bg{
    /* background-image: url('/SiteAssets/images/reciepe-bg.png');  */
    background-image: url('../public/assets/images/reciepe-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.reciepe-title{
    text-align: center;
    padding: 10px;
    background-color: #FFF2F28A;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.bg-main{
    background-color: #FE0000;
    border-radius: 20px;
}
.bg-main .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fe0000;
    background-color: #ffffff !important;
    border: none;
    max-height: 2rem;
}
.bg-main .main-pills .nav-link {
    border: none;
}
.image-on-top {
    position: absolute;
    top: -6px;
    right: 0;
    transform: translateX(-50%);
    width: 70px;
    height: auto;
    z-index: 1;
}
.bg-lightred-ingredients{
    background-color: #FFF2F2;
    /* position: relative;  */
    max-height: 30rem;
    overflow-y: auto;
    border-radius: 20px;

}

  /* responsive */
@media(max-width: 1440px) {
    .chef-login {
        width: 22rem;
    }
    .order-cards .card {
        max-height: 400px;
    }
    header .navbar .navbar-service img {
        width: 140px;
    }
    .radios{
        padding-inline: 45px;
    }
}
@media(max-width: 1200px) {
    .chef-login {
        width: 20rem;
    }
    .order-cards {
        margin-top: 0px;
    }
    .image-on-top {
        top: -9px;
        right: -15px;
        width: 60px;
    }
    .decor-img {
        z-index: 1;
        width: 8rem;
    }
    .bg-lightred-ingredients {
        max-height: 25rem;
        border-radius: 20px;
    }
    .accordion-responsive{
        display: flex;
        flex-wrap: wrap;
    }
    .accordion-desktop{
        display: none;
    }
    .kitchen {
        padding: 0px 0;
    }
    .radios{
        padding-inline: 30px;
    }
}
@media(max-width: 1100px) {
.accordion-responsive .nav-link {
 font-size: 0.8rem;
}
.accordion-responsive .nav-link h6 {
    margin-right: 1rem !important;
   }
   .radios{
    padding-inline: 15px;
}
}
@media(max-width: 992px) {
    .chef-login {
        width: 20rem;
    }
    .decor-img {
        width: 9rem;
    }
}
@media(max-width: 768px) {
    .chef-login {
        width: 16rem;
    }
    .decor-img {
        width: 5rem;
    }
    .accordion-responsive .nav-link {
        font-size: 0.7rem;
        margin-bottom: 5px;

       }
       .accordion-responsive .nav-link h6 {
        font-size: 0.8rem;
        margin-right: 0.2rem !important;
    }
          .radios{
           padding-inline: 0px;
           width: 100%;
           text-align: center;
       }
       .cart-details{
        padding-left: 0px !important;
       }
      .adds {
        font-size: 0.8rem;
    }
}
@media(max-width: 540px) {
    .chef-login {
        display: none;
    }
    .decor-img {
        width: 5rem;
    }
    .decor-center-two {
        top: 6rem;
        left: 0px;
    }
    .decor-center {
        top: 10rem;
        right: 0px;
    }
    .order-cards .card {
        max-height: 310px;
        margin-inline: 26px;
    }
    .detailsModal .modal-body {
        max-height: 31rem;
    }
    .plate-img{
        display: none !important;
    }
    .image-on-top {
        top: 15px;
        right: -30px;
        width: 55px;
    }
    .bg-lightred-ingredients {
        max-height: 20rem;
    }
    .tabs{
        width: 100% !important;
    }
    .reciepe-tab ul {
        padding: 0 !important;
    }
  
  
}
@media(max-width: 400px) {
header .navbar .navbar-service img {
    width: 105px;
}
.sides, .notes{
    font-size: 1rem !important;
}
.btn-reciepe{
    font-size: 0.8rem;
}
.card-details .card-body{
    padding-inline: 3px !important;
    padding-top: 5px !important;
}
.bg-main .nav-pills .nav-link, .nav-pills .show>.nav-link {
    width: 210px;
}
header .navbar .navbar-service img {
    width: 98px;
}
}