<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div
      class="modal-header border-0 position-relative d-flex justify-content-center"
    >
      <div class="title-details text-center">
        <h5 class="modal-title w-100 fw-bold main-color" id="detailsModalLabel">
          تفاصيل الطلب
        </h5>
      </div>
      <button
        type="button"
        class="btn-close position-absolute end-0 me-3"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="card card-details mb-3">
        <div class="card-body p-4">
          <div class="d-flex">
            <figure class="sideCart-plate-img m-0">
              <img
                src="assets/images/plate1.png"
                class="img-fluid"
                alt="Plate Image"
              />
            </figure>

            <div class="cart-details ps-4">
              <div
                class="d-flex justify-content-between flex-wrap align-items-center px-2"
              >
                <h4 class="fw-bold"><span>2</span> x <span>كبسة فراخ</span></h4>
                <a href="ingredients.html" class="btn btn-reciepe">
                  طريقة التحضير</a
                >
              </div>
              <div class="py-2 px-2">
                <h5 class="main-color fw-bold sides">
                  الاضافات:
                  <span
                    class="text-dark adds p-1 border border-dark bg-light rounded"
                    >دجاج مشوي</span
                  >
                  <span
                    class="text-dark adds p-1 border border-dark bg-light rounded"
                    >جمبري</span
                  >
                </h5>
              </div>
              <div class="py-2 px-2">
                <h5 class="main-color fw-bold notes">
                  الملاحظات:
                  <small class="text-dark"
                    >تجنب الملح والبصل في تحضير الطبق، تسخين الاكل قبل
                    التقديم</small
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-details mb-3">
        <div class="card-body p-4">
          <div class="d-flex">
            <figure class="sideCart-plate-img m-0">
              <figure class="sideCart-plate-img m-0">
                <img
                  src="assets/images/plate1.png"
                  class="img-fluid"
                  alt="Plate Image"
                />
              </figure>
            </figure>
            <div class="cart-details ps-4">
              <div
                class="d-flex justify-content-between flex-wrap align-items-center px-2"
              >
                <h4 class="fw-bold"><span>2</span> x <span>كبسة فراخ</span></h4>
                <a href="ingredients.html" class="btn btn-reciepe">
                  طريقة التحضير</a
                >
              </div>
              <div class="py-2 px-2">
                <h5 class="main-color fw-bold sides">
                  الاضافات:
                  <span
                    class="text-dark adds p-1 border border-dark bg-light rounded"
                    >دجاج مشوي</span
                  >
                  <span
                    class="text-dark adds p-1 border border-dark bg-light rounded"
                    >جمبري</span
                  >
                </h5>
              </div>
              <div class="py-2 px-2">
                <h5 class="main-color fw-bold notes">
                  الملاحظات:
                  <small class="text-dark"
                    >تجنب الملح والبصل في تحضير الطبق، تسخين الاكل قبل
                    التقديم</small
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-details mb-3">
        <div class="card-body p-4">
          <div class="d-flex">
            <figure class="sideCart-plate-img m-0">
              <img
                src="assets/images/plate1.png"
                class="img-fluid"
                alt="Plate Image"
              />
            </figure>

            <div class="cart-details ps-4">
              <div
                class="d-flex justify-content-between flex-wrap align-items-center px-2"
              >
                <h4 class="fw-bold"><span>2</span> x <span>كبسة فراخ</span></h4>
                <a href="ingredients.html" class="btn btn-reciepe">
                  طريقة التحضير</a
                >
              </div>
              <div class="py-2 px-2">
                <h5 class="main-color fw-bold sides">
                  الاضافات:
                  <span
                    class="text-dark adds p-1 border border-dark bg-light rounded"
                    >دجاج مشوي</span
                  >
                  <span
                    class="text-dark adds p-1 border border-dark bg-light rounded"
                    >جمبري</span
                  >
                </h5>
              </div>
              <div class="py-2 px-2">
                <h5 class="main-color fw-bold notes">
                  الملاحظات:
                  <small class="text-dark"
                    >تجنب الملح والبصل في تحضير الطبق، تسخين الاكل قبل
                    التقديم</small
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
