<section class="ingredients py-5">
  <div class="decor">
    <img src="./assets/images/meat.png" alt="Decoration" class="decor-img decor-top-left">
    <img src="./assets/images/spoon.png" alt="Decoration" class="decor-img decor-bottom-right">
    <img src="./assets/images/vegetables.png" alt="Decoration" class="decor-img decor-center">
    <img src="./assets/images/vegetables.png" alt="Decoration" class="decor-img decor-center-two">
  </div>

  <div class="container-sm p-5 bg-gray rounded shadow-lg">
    <div class="d-flex justify-content-center">
      <h5 class=" main-color title-details">تفاصيل الطلب</h5>
    </div>
    
    <div class="card card-details mb-3 shadow-lg">
      <div class="card-body p-5">
        <div class="d-flex align-items-center gap-3">
          <figure class="sideCart-plate-img m-0">
            <img src="assets/images/plate1.png" class="img-fluid" alt="Plate Image">
          </figure>
          <div class="cart-details w-100">
            <div class="d-flex justify-content-between flex-wrap align-items-center px-2">
              <h4 class="fw-bold"><span>2</span> x <span>كبسة فراخ</span></h4>
              <a href="ingredients.html" class="btn btn-reciepe">طريقة التحضير</a>
            </div>
            <div class="py-2 px-2">
              <h5 class="main-color fw-bold sides d-flex flex-wrap gap-2 align-items-center">
                الاضافات:
                <span class="text-dark adds p-1 border border-dark bg-light rounded">دجاج مشوي</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">جمبري</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">جمبري</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">جمبري</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">جمبري</span>
              </h5>
            </div>
            <div class="py-2 px-2">
              <h5 class="main-color fw-bold notes">
                الملاحظات:
                <small class="text-dark">تجنب الملح والبصل في تحضير الطبق، تسخين الاكل قبل التقديم</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-details mb-3 shadow-lg">
      <div class="card-body p-5">
        <div class="d-flex align-items-center gap-3">
          <figure class="sideCart-plate-img m-0">
            <img src="assets/images/plate1.png" class="img-fluid" alt="Plate Image">
          </figure>
          <div class="cart-details w-100">
            <div class="d-flex justify-content-between flex-wrap align-items-center px-2">
              <h4 class="fw-bold"><span>2</span> x <span>كبسة فراخ</span></h4>
              <a href="ingredients.html" class="btn btn-reciepe">طريقة التحضير</a>
            </div>
            <div class="py-2 px-2">
              <h5 class="main-color fw-bold sides d-flex flex-wrap gap-2 align-items-center">
                الاضافات:
                <span class="text-dark adds p-1 border border-dark bg-light rounded">دجاج مشوي</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">جمبري</span>
              </h5>
            </div>
            <div class="py-2 px-2">
              <h5 class="main-color fw-bold notes">
                الملاحظات:
                <small class="text-dark">تجنب الملح والبصل في تحضير الطبق، تسخين الاكل قبل التقديم</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-details mb-3 shadow-lg">
      <div class="card-body p-5">
        <div class="d-flex align-items-center gap-3">
          <figure class="sideCart-plate-img m-0">
            <img src="assets/images/plate1.png" class="img-fluid" alt="Plate Image">
          </figure>
          <div class="cart-details w-100">
            <div class="d-flex justify-content-between flex-wrap align-items-center px-2">
              <h4 class="fw-bold"><span>2</span> x <span>كبسة فراخ</span></h4>
              <a href="ingredients.html" class="btn btn-reciepe">طريقة التحضير</a>
            </div>
            <div class="py-2 px-2">
              <h5 class="main-color fw-bold sides d-flex flex-wrap gap-2 align-items-center">
                الاضافات:
                <span class="text-dark adds p-1 border border-dark bg-light rounded">دجاج مشوي</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">جمبري</span>
                <span class="text-dark adds p-1 border border-dark bg-light rounded">دجاج مشوي</span>
              </h5>
            </div>
            <div class="py-2 px-2">
              <h5 class="main-color fw-bold notes">
                الملاحظات:
                <small class="text-dark">تجنب الملح والبصل في تحضير الطبق، تسخين الاكل قبل التقديم</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
